@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

.logo {
    width: 80px;
    height: auto;
  }

  .navbar-brand{
    margin-top: -15px;
  }

  .navbar-default .navbar-brand {
    color: #fcb911;
  }

  .navbar-default .navbar-nav>li>a{
    color: #fcb911;
  }

  .navbar-default{
    background-color:black;
    height:75px;
    border-bottom: none;
    }

  .navbar-nav { margin-top: 10px;}

  .transicion{
    transition: all 500ms
  }

  .mb25{margin-bottom: 25px!important;}

  .banner{padding: 50px 0;}

  .intro-header, .banner {
    background-size: cover;
    background-attachment: fixed;
  }

  .btn{
    border-radius: 0;
  }

  .btn-info {
    background-colo: trassssnsparent;
    color: burlywood;
    transition: all 400ms linear;
    font-weight: bold;
  }

  .form-control{
    border-radius: 0;
  }

  .scrollup{
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_top.png);
    position: fixed;
    bottom: 30px;
    right: 15px;
    opacity: .7;   
  }


.navbar.navbar-default>
a{border-radius:0;color:#fff;background-color:#fed136}
    
    .text-muted {
    color: #777777;}
    
 section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.parallax{
  background-image: url(../img/avenida.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.full-screen{
  width: 100%;
  height: 100vh;
}

.full-screen h1{
  position: relative;
  top: 40vh;
  color: orange;
  text-shadow: 1px 2px 2px white;
  text-transform: uppercase;
 }

.blanco{
    color: aliceblue;
}

h2 {font-family: 'Lobster', cursive;
    font-size: 44px;
    margin: 0;
    padding: 0;
        
}

h1 {font-family: 'Raleway', sans-serif;
    font-size: 80px;
    margin: 0;
    padding: 0;
}

h3{font-family: 'Lobster', cursive;
    font-size: 30px;
}

/*botones*/

.btn-xl {
  color: white;
  background-color: orange;
  border-color: orange;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.footer{font-family: 'Raleway', sans-serif;
        font-size: 16px;}
    
    
    
